# Dependências do Projeto Zelo

# Variáveis de ambiente
python-dotenv==1.0.0

# Requisições HTTP
requests==2.31.0
urllib3==2.1.0

# Banco de dados
mysql-connector-python==8.2.0

# Web Framework
Flask==3.0.0
flask-cors==4.0.0

# Utilitários
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.6
Werkzeug==3.0.1
click==8.1.7
Jinja2==3.1.2
MarkupSafe==2.1.3
